<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reseteo de estilos -->
    <link rel="stylesheet" href="../reset.css/reset.css">
    <!-- Mis estilos -->
    <link rel="stylesheet" href="../styles.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="caja">
            <h1><img src="../imagenes/imagenes/logo.png" alt="logo de pagina"></h1>
            <nav>
                <ul>
                    <li><a href="../Home/index_home.html">Home</a></li>
                    <li><a href="/">Productos</a></li>
                    <li><a href="../view/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Formulario de contacto</h1>
        <a href="../index.html">Volver</a>
    </main>
    <footer>
        <img src="../imagenes/imagenes/logo-blanco.png" alt="imagen de pie de pagina">
        <p class="copyright">&copy; Copyright Barberia-Alura - 2023</p>
    </footer>
</body>
</html>