<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reseteo de estilos -->
    <link rel="stylesheet" href="../reset.css/reset.css">
    <!-- Mis estilos -->
    <link rel="stylesheet" href="../styles.css">
    <title>Contacto</title>
</head>
<body>
    <header>
        <div class="caja">
            <h1><img src="../imagenes/imagenes/logo.png" alt="logo de pagina"></h1>
            <nav>
                <ul>
                    <li><a href="../Home/index_home.html">Home</a></li>
                    <li><a href="/">Productos</a></li>
                    <li><a href="../view/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <form action="">
            <label for="nombreApellido">Nombre y apellido:</label>
            <input type="text" id="nombreApellido" class="input-padron">

            <label for="correoElectronico">Correo electronico</label>
            <input type="text" id="correoElectronico" class="input-padron">

            <label for="telefono">Telefono</label>
            <input type="text" id="telefono" class="input-padron">

            <label for="mensaje">Mensaje</label>
            <textarea cols="70" rows="10" id="mensaje" class="input-padron"></textarea> 

            <div>
                <p>¿Como te gustaria que te contactemos?</p>

                <label for="radio-email">
                    <input type="radio" value="email" name="contacto" id="radio-email">Email
                </label>
    
                <label for="radio-telefono">
                    <input type="radio" value="telefono" name="contacto" id="radio-telefono">Telefono
                </label>
    
                <label for="radio-whatsapp">
                    <input type="radio" value="whatsapp" name="contacto" id="radio-whatsapp">Whatsapp
                </label>
            </div>

            <label class="checkbox" for="checkbox">Te gustaria recibir novedades de la barberia alura??
                <input type="checkbox" id="checkbox">                
            </label>

            <input type="submit" value="Enviar formulario">
        </form>
        
        <a href="../index.html">Volver</a>
    </main>
    <footer>
        <img src="../imagenes/imagenes/logo-blanco.png" alt="imagen de pie de pagina">
        <p class="copyright">&copy; Copyright Barberia-Alura - 2023</p>
    </footer>
</body>
</html>